section {
    border: 5px solid blue;
    height: 942px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: blue;
    padding: 20px;
    height: 100px;
    width: 100px;
    border: 20px solid green;
    margin: 100px;
    box-sizing: border-box;
}